* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 48, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent url('Table.jpg') 0-0 no-repeat;
    background-size: cover;

}

/* #wrapper {
    margin: 0 auto;
}

#game {
    border-radius: 5px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    font: 14px/17px Helvetica, Arial, Verdana, sans-serif;

} */

#dealer-cards img {

    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stand {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#restart {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#clear {
    width: 75px;
    height: 25px;
    font-size: 20px;
    margin: 10px;
}

table, th, td {
    background: white;
    border: 1px solid black;
    margin: 10 auto;
}

td {
    padding: 5px;
    font-weight: bold;
}

h2{
    color: white;
}

#results{
    color: white;
}
